<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Downnotifier</title>
  </head>
  <body>
      <div class="head-block">
        <div class="main-right-block right">
            <!-- navbar -->
            <div class="navbar navbar-inverse navbar-fixed-top">
              <div class="container">
                <div class="navbar-collapse collapse ">
                  <ul class="nav navbar-nav">
                    <li class="{{home-selected}}"><a href="{{servlet-context}}/">Home</a></li>
                    <li class="{{about-selected}}"><a href="{{servlet-context}}/about">About</a></li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
        <div class="main-left-block left">
            <h1><a href="/" class="main-title">Down Notifier</a></h1>
        </div>
        <div class="clear"></div>
      </div>
    <div class="container">
        <div class="main-right-block right"></div>
        <div class="main-left-block left">
        {% block content %}
        {% endblock %}
        </div>
    </div>

    {% style "/css/screen.css" %}

    <script type="text/javascript">
      var context = "{{servlet-context}}";
    </script>
    {% block page-scripts %}
    {% endblock %}
  </body>
</html>

